{% extends 'base.html.twig' %}

{% block title %}
    Fursbook | Home
{% endblock %}

{% block body %}
    <main>
        <article class="posts">
            <div class="userDiv">
                <div>
                    <img src="https://via.placeholder.com/150">
                    <a href="#">{{ obj }}</a>
                </div>
                <span>jj/mm/aaaa</span>
            </div>
            <div class="contentdiv">
                <div class="top">
                    <button><img class="svg" src="./ressources/svg/ellipsis.svg"></button>
                </div>
                <div class="middle">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia fugit ipsam nesciunt omnis in nobis.</p>
                </div>
                <div class="bottom">
                    <button class="commentBtn"><img class="svg" src="./ressources/svg/comment.svg"></button>
                    <button class="likeBtn"><img class="svg" src="./ressources/svg/like.svg"></button>
                </div>
            </div>
        </article>
        <article class="posts">
            <div class="userDiv">
                <div>
                    <img src="https://via.placeholder.com/150">
                    <a href="#">Exemple de pseudo</a>
                </div>
                <span>jj/mm/aaaa</span>
            </div>
            <div class="contentdiv">
                <div class="top">
                    <button><img class="svg" src="./ressources/svg/ellipsis.svg"></button>
                </div>
                <div class="middle">
                    <div>
                        <img class="picture1" src="./ressources/images/temp/FyWolf-Ref.jpg">
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia fugit ipsam nesciunt omnis in nobis.</p>
                </div>
                <div class="bottom">
                    <button class="commentBtn"><img class="svg" src="./ressources/svg/comment.svg"></button>
                    <button class="likeBtn"><img class="svg" src="./ressources/svg/like.svg"></button>
                </div>
            </div>
        </article>
        <article class="posts">
            <div class="userDiv">
                <div>
                    <img src="https://via.placeholder.com/150">
                    <a href="#">Exemple de pseudo</a>
                </div>
                <span>jj/mm/aaaa</span>
            </div>
            <div class="contentdiv">
                <div class="top">
                    <button><img class="svg" src="./ressources/svg/ellipsis.svg"></button>
                </div>
                <div class="middle">
                    <div class="postPictures pic2">
                        <img class="picture1" src="./ressources/images/temp/FyWolf-Ref.jpg">
                        <img class="picture2" src="./ressources/images/temp/FyWolf-trans.png">
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia fugit ipsam nesciunt omnis in nobis.</p>
                </div>
                <div class="bottom">
                    <button class="commentBtn"><img class="svg" src="./ressources/svg/comment.svg"></button>
                    <button class="likeBtn"><img class="svg" src="./ressources/svg/like.svg"></button>
                </div>
            </div>
        </article>
        <article class="posts">
            <div class="userDiv">
                <div>
                    <img src="https://via.placeholder.com/150">
                    <a href="#">Exemple de pseudo</a>
                </div>
                <span>jj/mm/aaaa</span>
            </div>
            <div class="contentdiv">
                <div class="top">
                    <button><img class="svg" src="./ressources/svg/ellipsis.svg"></button>
                </div>
                <div class="middle">
                    <div class="postPictures pic3">
                        <img class="picture1" src="./ressources/images/temp/FyWolf-Ref.jpg">
                        <img class="picture2" src="./ressources/images/temp/FyWolf-trans.png">
                        <img class="picture3" src="./ressources/images/temp/FyWolf-headshot.png">
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia fugit ipsam nesciunt omnis in nobis.</p>
                </div>
                <div class="bottom">
                    <button class="commentBtn"><img class="svg" src="./ressources/svg/comment.svg"></button>
                    <button class="likeBtn"><img class="svg" src="./ressources/svg/like.svg"></button>
                </div>
            </div>
        </article>
        <article class="posts">
            <div class="userDiv">
                <div>
                    <img src="https://via.placeholder.com/150">
                    <a href="#">Exemple de pseudo</a>
                </div>
                <span>jj/mm/aaaa</span>
            </div>
            <div class="contentdiv">
                <div class="top">
                    <button><img class="svg" src="./ressources/svg/ellipsis.svg"></button>
                </div>
                <div class="middle">
                    <div class="postPictures pic4">
                        <img class="picture1" src="./ressources/images/temp/FyWolf-Ref.jpg">
                        <img class="picture2" src="./ressources/images/temp/FyWolf-trans.png">
                        <img class="picture3" src="./ressources/images/temp/FyWolf-headshot.png">
                        <img class="picture4" src="./ressources/images/temp/FyWolf-banner.png">
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia fugit ipsam nesciunt omnis in nobis.</p>
                </div>
                <div class="bottom">
                    <button class="commentBtn"><img class="svg" src="./ressources/svg/comment.svg"></button>
                    <button class="likeBtn"><img class="svg" src="./ressources/svg/like.svg"></button>
                </div>
            </div>
        </article>
    </main>
{% endblock %}