{% extends 'base.html.twig' %}

{% block title %}
    Fursbook | Login
{% endblock %}

{% block body %}
    <main class="loginPage">
        <div>
            <form action="{{ path('login') }}" method="post">
                <label for="username">Email</label>
                <input type="email" id="username" name="_username">
                <label for="password">{% trans %}password{% endtrans %}</label>
                <input type="password" id="password" name="_password">
                <a href="/recovery">{% trans %}passwordForgot{% endtrans %}</a>
                <button type="submit">{% trans %}connect{% endtrans %}</button>
            </form>
        <a href="/register">{% trans %}newAccount{% endtrans %}</a>
        </div>
    </main>
{% endblock %}