<nav>
    <aside class="js-sidebar">
        <div class="js-sidebar--container">
        <div class="navSideTopDiv">
            <div class="navProfile">
                <img class="profilePicture" src="https://via.placeholder.com/100">
                <p>Pseudo</p>
            </div>
            <div class="navLinks">
                <a href="index.html"><img class="svg" src="./ressources/svg/navHome.svg" alt="Home">Home</a>
                <a href="profile.html"><img class="svg" src="./ressources/svg/sidePanelUser.svg"> Profil</a>
            </div>
        </div>
        <div class="navSideBottomDiv">
            <a href="login.html"><img class="svg" src="./ressources/svg/signInLogo.svg" alt="sign in"></a>
        </div>
        </div>
        <div class="js-sidebar--background"></div>
    </aside>
    <button class="js-sidebar--open"><img class="svg" src="./ressources/svg/navSidePannelToggle.svg" alt="Side pannel button"></button>
    <a href="index.html"><h1><img class="svg" src="./ressources/svg/logo.svg" alt="fursbook logo">ursbook</h1></a>
    <button><img class="svg" src="./ressources/svg/navSearchBarIcon.svg" alt="search bar button"></button>
</nav>