{% extends 'base.html.twig' %}

{% block title %}
    Fursbook | Recovery
{% endblock %}

{% block body %}
    <main class="loginPage">
        <div class="tenor-gif-embed" data-postid="13761350" data-share-method="host" data-aspect-ratio="2.10526" data-width="100%"><a href="https://tenor.com/view/orson-welles-welles-orson-pas-mal-cest-fran%C3%A7ais-gif-13761350">Orson Welles Pas Mal GIF</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </main>
{% endblock %}