{% extends 'base.html.twig' %}

{% block title %}
    Fursbook | Unsubscribe
{% endblock %}

{% block body %}
    <main class="unsubscribe">
        <p>You've been successfully un-subscribed from our newsletter</p>
    </main>
{% endblock %}