{% extends 'postsMaster.html.twig' %}

{% block content %}
    <div>
        <img class="picture1" src="{{ asset(post.picture1) }}" alt="Post Picture">
    </div>
    <p>{{ post.content }}</p>
{% endblock %}