{% extends "postsMaster.html.twig" %}

{% block content %}
    <div class="postPictures pic2">
        <img class="picture1" src="{{ asset(post.picture1) }}">
        <img class="picture2" src="{{ asset(post.picture2) }}">
    </div>
    <p>{{ post.content }}</p>
{% endblock %}