@import"https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";

@font-face {
    font-family: "dyslexia";
    src: url('/fonts/dyslexia/OpenDyslexic3-Regular.ttf') format('truetype');
}

/***
    ####
        CSS VARIABLES DECLARATION
    ####
***/

:root {
    --mainBgColor: #261d2f;
    --altBgColor: #311f3f;
    --scndAltBgColor: #3f2652;
    --postsTextColor: rgb(179, 179, 179);
    font-size: 15px;
}

/***
    ####
        GENERAL CSS
    ####
***/

body {
    margin: 0;
    background-color: var(--mainBgColor);
    font-family: "Inter", sans-serif;
    color: #fff;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.accessiblityTriggerButton {
    display: none;
}

.accessiblityTriggerButton + label {
    cursor: pointer;
    position: fixed;
    left: 1em;
    bottom: 1em;
    background-color: tomato;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 2;
}

.accessiblityTriggerButton + label:after {
    position: fixed;
    content: '';
    background-image: url(/ressources/svg/accessibility.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2vh;
    z-index: 3;
    height: 50px;
    width: 50px;
    left: 1em;
    bottom: 1em;
    margin: auto;
    border-radius: .5em;
    transition: all .25s;
}

.accessiblityTriggerButton:checked + label:after {
    transform: rotatez(-180deg);
    -webkit-transform: rotatez(-180deg);
    -moz-transform: rotatez(-180deg);
    -ms-transform: rotatez(-180deg);
    -o-transform: rotatez(-180deg);
}

.accessMenu {
    cursor: pointer;
    position: fixed;
    left: 1em;
    bottom: 1em;
    padding: 1em;
    height: 1em;
    border-radius: 50px;
    opacity: 0;
    z-index: 1;
    transform: rotateZ(90deg);
    font-size: 1rem;
    color: #fff;
    transition-property: all;
    transition-duration: .35s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.accessMenu p {
    margin: 0;
    line-height: 100%;
}

.accessMenu button {
    cursor: pointer;
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 0 2px;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.accessMenu button:hover {
    background-color: white;
    color: #000;
}

.accessiblityTriggerButton:checked ~ .accessiblityOne, .accessiblityTriggerButton:checked ~ .accessiblityTwo, .accessiblityTriggerButton:checked ~ .accessiblityThree {
    opacity: 1;
}

.accessiblityOne p {
    font-family: "dyslexia";
}

.accessiblityTwo {
    background-color: #000;
    border: 1px solid white;
}

.accessiblityTwo p {
    color: yellow;
}

.accessiblityThree {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accessiblityTriggerButton:checked ~ .accessiblityOne {
    background-color: purple;
    transform: translateX(5em);
    transition-delay: .2s;
    -webkit-transform: translateX(5em);
    -moz-transform: translateX(5em);
    -ms-transform: translateX(5em);
    -o-transform: translateX(5em);
}

.accessiblityTriggerButton:checked ~ .accessiblityTwo {
    transform: translateX(3.5em) translateY(-3.3em);
    transition-delay: .1s;
    -webkit-transform: translateX(3.5em) translateY(-3.3em);
    -moz-transform: translateX(3.5em) translateY(-3.3em);
    -ms-transform: translateX(3.5em) translateY(-3.3em);
    -o-transform: translateX(3.5em) translateY(-3.3em);
}

.accessiblityTriggerButton:checked ~ .accessiblityThree {
    cursor: default;
    background-color: rgb(159, 45, 188);
    transform: translateY(-5em) translateY(-1.8em);
    -webkit-transform: translateY(-5em) translateY(-1.8em);
    -moz-transform: translateY(-5em) translateY(-1.8em);
    -ms-transform: translateY(-5em) translateY(-1.8em);
    -o-transform: translateY(-5em) translateY(-1.8em);
}

.accessiblityTriggerButton:checked ~.accessiblityOne:hover, .accessiblityTriggerButton:checked ~ .accessiblityTwo:hover, .accessiblityTriggerButton:checked ~ .accessiblityThree:hover {
    opacity: .9;
}

.svg {
    filter: brightness(0) invert(1);
}

button {
    font-family: inherit;
}

.infoDiv {
    position: fixed;
    top: 10vh;
    left: 2vw;
    max-width: 400px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    border: 1px solid;
    z-index: 4;
    padding: 1vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.infoDiv p {
    margin: 0;
}

.infoDivHidden {
    left: -450px;
}

.alphaWarning {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-weight: 100;
    text-align: right;
    font-size: 1.1rem;
    pointer-events: none
}

.alphaWarning p {
    margin: 0;
}

.modal {
    z-index: 15;
    position: fixed;
    top: 45%;
    left: 10vw;
    right: 10vw;
    padding: 0.5vh 1vh;
    max-width: 500px;
    margin: auto;
    background-color: var(--scndAltBgColor);
    border: 1px solid white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.modal .top {
    display: flex;
    justify-content: flex-end;
}

.modal .top button {
    background: none;
    cursor: pointer;
    border: none;
}

.modal .top button img {
    width: 2vh;
}

.modal .content form {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.modal .content form select {
    background-color: var(--altBgColor);
    border: 1px solid white;
    color: white;
    width: 100%;
    padding: 2px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.modal .content form textarea {
    width: 100%;
    height: 10vh;
    background-color: var(--altBgColor);
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    resize: none;
}

.modal .content form button {
    display: block;
    pointer-events: auto;
    cursor: pointer;
    color: white;
    border: 1px solid var(--scndAltBgColor);
    background-color: var(--altBgColor);
    padding: 0.5vh;
    margin: 0.5vh 0;
    font-size: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.modal .content form button:hover {
    border-color: white;
}

.hidder {
    z-index: 14;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.53);
}

/* Global posts CSS */

.posts {
    width: 80vw;
    max-width: 500px;
    margin: 5vh auto;
}

.darkPost .userDiv {
    border: 2px solid white;
}

.darkPost .contentdiv {
    border: 2px solid white;
}

.posts .userDiv {
    background-color: var(--altBgColor);
    display: flex;
    justify-content: space-between;
    padding: 0.5vh 1vh 0 0;
    margin-bottom: 1vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.posts .userDiv div {
    display: flex;
    align-items: center;
    padding: 0.5vh 1vh 1vh 1vh;
}

.posts .userDiv div img {
    width: 8vh;
    height: 8vh;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 1vh;
}

.posts .userDiv div a {
    color: white;
    text-decoration: none;
}

.posts .userDiv div a:hover {
    text-decoration: underline;
}

.posts .contentdiv {
    background-color: var(--scndAltBgColor);
    border: 2px solid var(--altBgColor);
    padding: 1vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.posts .contentdiv .top {
    display: flex;
    justify-content: flex-end;
}

.posts .contentdiv .top .dropdown>button img {
    width: 2vh;
}

.posts .contentdiv .top .dropdown {
    position: relative;
}

.posts .contentdiv .top .dropdown>button {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.posts .contentdiv .top .dropdown .menu button:hover {
    background-color: var(--scndAltBgColor);
    border-color: white;
}

.posts .contentdiv .top .dropdown .menu {
    position: absolute;
    width: 45vw;
    max-width: 250px;
    text-align: center;
    right: 0;
    border: 1px solid black;
    pointer-events: none;
    background-color: var(--altBgColor);
    z-index: 3;
    padding: 0.5vh 1vh;
    list-style: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.posts .contentdiv .top .dropdown .menu a,
.posts .contentdiv .top .dropdown .menu button {
    text-decoration: none;
    display: block;
    pointer-events: auto;
    cursor: pointer;
    color: white;
    border: 1px solid var(--scndAltBgColor);
    background-color: var(--altBgColor);
    padding: 0.5vh 0;
    margin: 0.5vh 0;
    font-size: 1rem;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.posts .contentdiv .top .dropdown .menu a:hover {
    background-color: var(--scndAltBgColor);
    border-color: white;
}

.posts .contentdiv .top .dropdown .menu p {
    margin: 0;
}

.posts .contentdiv .middle div {
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}

.posts .contentdiv .middle p {
    overflow-wrap: break-word;
}

.posts .contentdiv .middle .postPictures {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15vh 15vh;
    gap: 1%;
    margin-bottom: 10px;
    object-fit: cover;
}

.pic1 {
    grid-template-areas:
        "pic1 pic1"
        "pic1 pic1";
}

.pic2 {
    grid-template-areas:
        "pic1 pic2"
        "pic1 pic2";
}

.pic3 {
    grid-template-areas:
        "pic1 pic2"
        "pic1 pic3";
}

.pic4 {
    grid-template-areas:
        "pic1 pic2"
        "pic3 pic4";
}


.posts .contentdiv .middle div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.picture1 {
    grid-area: pic1;
}

.picture2 {
    grid-area: pic2;
}

.picture3 {
    grid-area: pic3;
}

.picture4 {
    grid-area: pic4;
}

.posts .contentdiv .middle p {
    margin-top: 0;
}

.posts .contentdiv .bottom {
    display: flex;
    justify-content: flex-end;
}

.posts .contentdiv .bottom button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts .contentdiv .bottom .commentBtn {
    cursor: not-allowed;
}

.posts .contentdiv .bottom button img {
    width: 2.5vh;
    filter: invert(77%) sepia(37%) saturate(12%) hue-rotate(46deg) brightness(95%) contrast(94%);
}

.posts .contentdiv .bottom button .liked {
    filter: invert(22%) sepia(92%) saturate(4906%) hue-rotate(346deg) brightness(108%) contrast(92%);
}

/***
    ####
        NEWSLETTER
    ####
***/

.newsletter .userDiv div img {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    object-fit: contain;
    width: 5rem;
}

.newsletter .contentdiv img {
    width: 100%;
    height: auto;
}

/***
    ####
        MOBILE NAVBAR / SIDE NAVBAR
    ####
***/

body nav {
    margin-bottom: 2vh;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: var(--mainBgColor);
}

body nav .topNav {
    height: 5vh;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #fff solid;
    box-shadow: 0px 0px 20px -1px #a795c0;
    background-color: var(--mainBgColor);
}

body nav .topNav button,
body nav .topNav a {
    width: 10%;
    background: none;
    border: none;
}

body nav .topNav button img,
body nav .topNav a img {
    width: 2.5vh;
}

body nav .topNav a h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

body nav .topNav a {
    text-decoration: none;
    color: white;
}

body nav .topNav a:visited {
    text-decoration: none;
}

body nav .topNav a h1 img {
    width: 4vh;
}

.js-sidebar,
.js-sidebar--background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body nav .alertDiv {
    background-color: rgba(255, 238, 0, 0.397);
    text-align: center;
    position: sticky;
    top: 5vh;
    left: 0;
    right: 0;
    padding: 0.5vh 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(255, 238, 0, 0.712);
}

body nav .alertDiv button {
    border-radius: 7px;
    background: none;
    border: 2px solid #ff3c00;
    color: white;
    padding: 0 0.5vh;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

body nav .alertDiv button:hover {
    background-color: rgba(255, 255, 255, 0.268);
}


.js-sidebar {
    position: fixed;
    z-index: 4;
    transform: translate(-100%, 0);
    transition: transform 0s ease 0.3s;
}

.js-sidebar--background {
    position: absolute;
    background: transparent;
}

.js-sidebar--container {
    position: relative;
    z-index: 1;
    width: 70vw;
    max-width: 300px;
    height: 100vh;
    background-color: var(--mainBgColor);
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.2), 1px 0 10px rgba(0, 0, 0, 0.1);
    transform: translate(-100%, 0);
    overflow: hidden;
}

.js-sidebar.is-visible {
    transform: translate(0, 0);
    transition: transform 0s ease 0s;
}

.js-sidebar.is-visible .js-sidebar--background {
    background: rgba(0, 0, 0, 0.452);
}

.navProfile {
    border-bottom: 1px solid black;
    padding-left: 1%;
    padding-bottom: 1%;
}

.navProfile div {
    display: flex;
    justify-content: space-between;
}

.profilePicture {
    margin: 2%;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    object-fit: cover;
}

.navProfile p {
    margin: 0;
    font-size: 1.2rem;
}

.navSideTopDiv>button {
    width: 100%;
    border-bottom: 1px solid black;
    color: white;
}

.navLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navLinks a {
    width: 100%;
    border-bottom: 1px solid black;
    color: white;
    text-decoration: none;
    padding: 3% 0 3% 3%;
    display: flex;
    align-items: center;
}

.navLinks a img {
    width: 2vh;
    margin-right: 5%;
}

.navSideBottomDiv {
    position: relative;
    justify-self: flex-end;
    padding: 3vh;
}

.navSideBottomDiv .bottomLinks {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.navSideBottomDiv .bottomLinks a {
    color: white;
    text-decoration: none;
}

.navSideBottomDiv a img {
    width: 3vh;
}

.navSideBottomDiv button {
    background: none;
    border: none;
}

.navSideBottomDiv .langBtn {
    width: 4vh;
    padding: 0;
    cursor: pointer;
}

.navSideBottomDiv .langDiv {
    position: absolute;
    bottom: 7vh;
    display: flex;
    flex-direction: column;
    background-color: var(--altBgColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
}

.navSideBottomDiv .langDiv button {
    color: white;
    margin: 0.5vh 0;
    font-size: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 0.5vh 1vh;
}

.navSideBottomDiv .langDiv button:hover {
    background-color: var(--scndAltBgColor);
}

/***
    ####
        HOME PAGE CSS
    ####
***/

.homePage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "leftContent"
        "contentPage"
        "endScroll"
    ;
}

.homePage .leftContentDiv {
    grid-area: leftContent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
    margin: 0 auto;
    max-width: 500px;
    padding-bottom: 5vh;
    border-bottom: 2px solid var(--scndAltBgColor);
}

.homePage .leftContentDiv .homeNews {
    font-size: 2rem;
    font-weight: 100;
    align-self: center;
}

.homePage .leftContentDiv .newsletter {
    width: 100%;
    align-self: flex-end;
    margin: 0;
}

.homePage .postDiv {
    grid-area: contentPage;
}

.homePage .endScroll {
    grid-area: endScroll;
    width: 80vw;
    margin: auto;
    height: 5vh;
    max-width: 400px;
}

.homePage .leftContentDiv .welcome {
    font-size: 2rem;
    font-weight: 100;
    margin: 0;
}

.homePage .leftContentDiv .subWelcome {
    font-size: 1.4rem;
    font-weight: 100;
    margin: 0;
}

.homePage .leftContentDiv > a {
    color: white;
    display: flex;
    align-items: center;
    background-color: var(--altBgColor);
    border: 1px solid black;
    padding: 0.5vh 1vh;
    width: fit-content;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 1vh;
    text-decoration: none;
}

.homePage .leftContentDiv a:hover {
    border-color: white;
}

.homePage .leftContentDiv a img {
    width: 3vh;
    margin-right: 5px;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    width: 5vh;
    height: 5vh;
    margin-top: -30px;
    margin-bottom: 2vh;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 3px solid var(--scndAltBgColor);
    border-right: 3px solid transparent;
    animation: spinner .6s linear infinite;
}



/***
    ####
        LOGIN/REGISTER PAGE CSS
    ####
***/

.loginPage>div {
    border: 1px solid var(--scndAltBgColor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 10vh auto;
    padding: 1vh 2vh;
}

.loginPage>div>a {
    background-color: var(--altBgColor);
    color: white;
    border: 1px solid black;
    padding: 1% 3%;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 1vh;
    text-decoration: none;
}

.loginPage div>a:hover {
    border-color: white;
}

.loginPage form {
    width: 80vw;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginPage div form input {
    background-color: var(--altBgColor);
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    margin: 1vh 0;
    font-size: 1.3rem;
    width: 100%;
    padding: 1vh;
    text-align: center;
}

.loginPage div form div {
    display: flex;
    flex-direction: column;
}

.loginPage button {
    background-color: var(--altBgColor);
    color: white;
    border: 1px solid black;
    padding: 1% 3%;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.loginPage button:hover {
    border-color: white;
}

.loginPage form a {
    text-decoration: none;
    color: rgb(179, 179, 179);
    font-size: 0.9rem;
    align-self: flex-end;
    margin-bottom: 1vh;
}

.loginPage form a:hover {
    text-decoration: underline;
}

.loginPage form div:has(.checkbox) {
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.loginPage form div:has(.checkbox) label {
    width: 100%;
}

.loginPage form .checkbox {
    width: auto;
}

/***
    ####
        PROFILE PAGE CSS
    ####
***/

.userProfile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "userPage"
        "contentPage"
        "endScroll"
    ;
}

.userProfile .endScroll {
    grid-area: endScroll;
    width: 80vw;
    margin: auto;
    height: 5vh;
    max-width: 400px;
}

.userProfile .userProfileDiv {
    width: 90vw;
    max-width: 400px;
    object-fit: cover;
    margin: auto;
    background-color: var(--altBgColor);
    border-bottom: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    grid-area: userPage;
}

.userProfile .darkProfile {
    border: 2px solid white;
}

.userProfile .userProfileDiv .banner {
    width: 100%;
    position: relative;
}

.userProfile .userProfileDiv .banner .bannerImg {
    width: 100%;
    height: 13vh;
    object-fit: cover;
    background-color: var(--scndAltBgColor);
}

.userProfile .userProfileDiv .banner .pfp {
    width: 12vh;
    height: 12vh;
    object-fit: cover;
    border-radius: 50%;
    bottom: -60px;
    left: 1%;
    position: absolute;
    border-top: 2px black solid;
    background-color: var(--mainBgColor);
}

.userProfile .userProfileDiv .banner .more {
    position: absolute;
    bottom: -30px;
    right: 1%;
    width: 4vh;
    background: none;
    border: none;
}

.userProfile .userProfileDiv .banner *:before,
.userProfile .userProfileDiv .banner *:after {
    box-sizing: border-box;
}

.userProfile .userProfileDiv .banner .dropdown {
    position: absolute;
    bottom: -45px;
    right: 8px;
}

.userProfile .userProfileDiv .banner .dropdown__check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    opacity: 0;
}

.userProfile .userProfileDiv .banner .dropdown__check:checked~.dropdown__toggle {
    background: var(--mainBgColor);
}

.userProfile .userProfileDiv .banner .dropdown__check:checked~.dropdown__menu {
    clip: auto;
    opacity: 1;
    transform: none;
}

.userProfile .userProfileDiv .banner .dropdown__toggle {
    position: relative;
    display: inline-block;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    background: var(--scndAltBgColor);
    text-transform: uppercase;
    font-size: 0.75em;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userProfile .userProfileDiv .banner .dropdown__toggle img {
    width: 2vh;
}

.userProfile .userProfileDiv .banner .dropdown__menu {
    position: absolute;
    top: 100%;
    right: 0;
    clip: rect(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 4px;
    opacity: 0;
    transform: translate(0, -12px);
    transition: transform 150ms, opacity 150ms, box-shadow 150ms;
    z-index: 10;
    text-align: center;
    border: 1px solid black;
    pointer-events: none;
    background-color: var(--altBgColor);
    padding: 0.5vh 1vh;
    list-style: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.userProfile .userProfileDiv .banner .dropdown__menu button, .userProfile .userProfileDiv .banner .dropdown__menu a {
    text-decoration: none;
    display: block;
    pointer-events: auto;
    cursor: pointer;
    color: white;
    border: 1px solid var(--scndAltBgColor);
    background-color: var(--altBgColor);
    padding: 0.5vh 0;
    margin: 0.5vh 0;
    font-size: 1rem;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.userProfile .userProfileDiv .banner .dropdown__menu button:hover {
    background-color: var(--scndAltBgColor);
    border-color: white;
}

.userProfile .userProfileDiv .banner .dropdown__menu a:hover {
    background-color: var(--scndAltBgColor);
    border-color: white;
}

.userProfile .userProfileDiv .banner .dropdown__menu>li {
    list-style: none;
    width: 200px;
}

.userProfile .userProfileDiv .infos {
    margin-top: 60px;
    padding: 1vh;
    position: relative;
}

.userProfile .userProfileDiv .infos .username {
    font-size: 1.2rem;
    font-weight: 600;
}

.userProfile .userProfileDiv .infos .bio {
    font-size: 0.8rem;
    font-weight: 300;
}

.userProfile .postDiv {
    grid-area: contentPage;
}

/***
    ####
        SETTINGS PAGE CSS
    ####
***/

.settings section {
    width: 90vw;
    max-width: 700px;
    margin: auto;
    margin-bottom: 2vh;
}

.settings section fieldset {
    background-color: var(--altBgColor);
    border: 2px solid var(--scndAltBgColor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings section fieldset legend {
    font-weight: 600;
    font-size: 1.3rem;
}

.settings section fieldset form {
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.settings section fieldset form label {
    margin: 1vh;
}

.settings section fieldset form div {
    width: 100%;
    display: flex;
    align-items: center;
}

.settings section fieldset form div div {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    text-align: center;
    justify-content: space-between;
}

.settings section fieldset form div input,
.settings section fieldset form div textarea {
    background-color: var(--scndAltBgColor);
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    margin: 1vh 0;
    font-size: 1rem;
    padding: 0.5vh 0;
    text-align: center;
    resize: none;
    width: 100%;
}

.settings section fieldset form div textarea {
    height: 120px;
}

.settings section fieldset form button {
    background-color: var(--altBgColor);
    color: white;
    border: 1px solid black;
    padding: 1% 3%;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
}

.settings section fieldset form button:hover {
    border-color: white;
}

.settings section fieldset .newsletterSettings {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.settings section fieldset .newsletterSettings button {
    background-color: var(--altBgColor);
    color: white;
    border: 1px solid black;
    padding: 0.6vh 0.5vh;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
}

.settings section fieldset .newsletterSettings button:hover {
    border-color: white;
}


/***
    ####
        SEARCH PAGE CSS
    ####
***/

.searchPage .searchBar {
    margin: auto;
    width: 80vw;
    max-width: 500px;
    margin-bottom: 2vh;
}

.searchPage .searchBar .darkSearchForm input {
    border: 2px solid white;
}

.searchPage .searchBar form {
    text-align: center;
}

.searchPage .searchBar form input {
    width: 100%;
    text-align: center;
    background-color: var(--scndAltBgColor);
    color: white;
    border: 1px solid black;
    padding: 1% 3%;
    border-radius: 10px;
    font-size: 1.1rem;
    margin-bottom: 1vh;
}

.searchPage .searchBar form button {
    background-color: var(--altBgColor);
    color: white;
    border: 1px solid black;
    padding: 1% 3%;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.searchPage .searchBar form button:hover {
    border-color: white;
}

.searchPage .contentDiv .darkSearchUser {
    border: 2px solid white;
}

.searchPage .contentDiv .userDiv {
    background-color: var(--altBgColor);
    display: flex;
    justify-content: space-between;
    padding: 0.5vh 1vh 0 0;
    margin: auto;
    margin-bottom: 1vh;
    border-radius: 10px;
    width: 95vw;
    max-width: 300px;
}

.searchPage .contentDiv .userDiv div {
    display: flex;
    align-items: center;
    padding: 0.5vh 1vh 1vh 1vh;
}

.searchPage .contentDiv .userDiv div img {
    width: 8vh;
    height: 8vh;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1vh;
}

.searchPage .contentDiv .userDiv div a {
    color: white;
    text-decoration: none;
}

.searchPage .contentDiv .userDiv div a:hover {
    text-decoration: underline;
}

/***
    ####
        NEW POST PAGE CSS
    ####
***/

.newPost fieldset {
    width: 80vw;
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--altBgColor);
    border: 2px solid var(--scndAltBgColor);
    border-radius: 10px;
}

.newPost fieldset form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.newPost fieldset form textarea {
    background-color: var(--scndAltBgColor);
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5vh 0;
    text-align: center;
    resize: none;
    width: 100%;
    height: 160px;
}

.newPost fieldset form input {
    align-self: flex-start;
    margin: 1vh 0;
}

.newPost fieldset form button {
    background-color: var(--altBgColor);
    color: white;
    border: 1px solid black;
    padding: 1% 3%;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}


/***
    ####
        TERMS & PRIVACY PAGE CSS
    ####
***/

.terms {
    width: 90vw;
    max-width: 800px;
    margin: auto;
}


/***
    ####
        ADMIN MAIN PAGE CSS
    ####
***/

.adminHome {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "admNavDiv contentDiv"
    ;
    height: 85vh;
    gap: 10px;
    margin: 10px;
}

.modif {
    position: fixed;
    left: 20vw;
    right: 20vw;
    bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--altBgColor);
    border: 1px solid var(--mainBgColor);
    z-index: 4;
    min-height: 5vh;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 1vh;
    gap: 1vh
}

.modif form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.modif form input {
    color: white;
    background-color: var(--scndAltBgColor);
    border: 1px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 1vh;
}

.modif button {
    background-color: var(--scndAltBgColor);
    color: white;
    border-radius: 5px;
    padding: 1vh;
    border: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.adminHome .admNav {
    grid-area: admNavDiv;
    background-color: var(--altBgColor);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1vh;
}

.adminHome .admNav .accordion {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--scndAltBgColor);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5vh;
    margin: 0.5vh;
    transition: all 0.2s ease-in-out;

}

.adminHome .admNav .panel button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(179, 179, 179);
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5vh;
    margin: 0.5vh;
    transition: all 0.2s ease-in-out;
}

.adminHome .admNav .panel button:hover {
    color: white;
}

.adminHome .admNav .panel button img {
    padding-bottom: 5px;
    width: 2vh;
    margin-right: 5px;
    filter: invert(85%) sepia(3%) saturate(10%) hue-rotate(28deg) brightness(87%) contrast(83%);
}

.adminHome .content {
    grid-area: contentDiv;
    background-color: var(--scndAltBgColor);
    height: 100%;
    padding: 1vh;
    overflow: auto;
}

/*
####
    ADMIN USER LIST PANNEL CSS
####
*/

.adminHome .userList {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.adminHome .userList div {
    width: 100%;
}

.adminHome .userList div table {
    width: 100%;
    text-align: center;
    border-spacing: -1px;
    border-collapse: collapse;
}

.adminHome .userList div table th {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.adminHome .userList div table th:first-child {
    border-left: none;
}

.adminHome .userList div table th:last-child {
    border-right: none;
}

.adminHome .userList table td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.adminHome .userList div table td:first-child {
    border-left: none;
}

.adminHome .userList div table td:last-child {
    border-right: none;
}

.adminHome .userList div table tbody tr:nth-child(odd) {
    background-color: var(--altBgColor);
}

.adminHome .userList div table tbody tr {
    height: 4vh;
}

.adminHome .userList div table tbody tr td a {
    color: white;
    text-decoration: none;
}

.adminHome .userList div table tbody tr td a:hover {
    text-decoration: underline;
}

.adminHome .userList div table tbody tr td div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.adminHome .userList div table tbody tr td div .dropDownDiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--mainBgColor);
    border-radius: 5px;
    border: 1px solid black;
    top: 25px;
    z-index: 4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.adminHome .userList div table tbody tr td div .dropDownDiv button {
    border: 1px solid rgba(0, 0, 0, 0);
}


.adminHome .userList div table tbody tr td div .dropDownDiv button:hover {
    border-color: white;
}

.adminHome .userList div table tbody tr td button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: white;
    padding: 0.3vh;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.adminHome .userList div table tbody tr td button:hover {
    border: 1px solid white;
}

.adminHome .userList div table tbody tr td button img {
    width: 1vh;
}

.adminHome .userList .pageNav {
    display: flex;
    justify-content: center;
    height: 2vh;
}

.adminHome .userList .pageNav button {
    background-color: var(--mainBgColor);
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

.adminHome .userList .pageNav button:hover {
    border-color: white;
}

.adminHome .userList .pageNav .prev {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.adminHome .userList .pageNav .next {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.adminHome .userList .pageNav p {
    background-color: var(--mainBgColor);
    margin: 0;
    padding: 0 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/*
####
    ADMIN USER EDIT PANNEL CSS
####
*/

.adminHome .userEdit {
    display: flex;
    flex-direction: column;
}

.adminHome .userEdit button {
    background-color: var(--altBgColor);
    color: white;
    border: 1px solid var(--scndAltBgColor);
    border-radius: 5px;
    padding: 1vh;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.adminHome .userEdit button:hover {
    border: 1px solid white;
}

.adminHome .userEdit .userModif {
    position: absolute;
    bottom: 0;
    left: 35%;
    right: 35%;
    display: flex;
    justify-content: center;
}

.adminHome .userEdit .userPictures {
    display: flex;
    flex-direction: column;
}

.adminHome .userEdit .userPictures div img {
    width: 35vw;
    max-width: 800px;
}

/*
####
    ADMIN USER CREATION PANNEL CSS
####
*/

.userCreation form {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 50vw;
    max-width: 500px;
}

.userCreation form input,
.userCreation form textarea {
    color: white;
    background-color: var(--scndAltBgColor);
    border: 1px solid var(--mainBgColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 1vh;
}

.userCreation form button {
    background-color: var(--altBgColor);
    color: white;
    border: 1px solid var(--scndAltBgColor);
    border-radius: 5px;
    padding: 1vh;
    border: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.userCreation form button:hover {
    border: 1px solid white;
}

/*
####
    ADMIN NEWSLETTER CREATION PANNEL CSS
####
*/

.newNewsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newNewsletter form {
    width: 90%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.newNewsletter form input,
.newNewsletter form trix-editor {
    width: 100%;
    color: white;
    background-color: var(--altBgColor);
    border: 1px solid var(--mainBgColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 1vh;
}

.newNewsletter form button {
    background-color: var(--altBgColor);
    color: white;
    border: 1px solid var(--scndAltBgColor);
    border-radius: 5px;
    padding: 1vh;
    border: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

.newNewsletter form button:hover {
    background-color: var(--scndAltBgColor);
}

/*
    Media query DESKTOP
*/

@media screen and (min-width:1200px) {

    /***
        ####
            PROFILE PAGE CSS
        ####
    ***/

    .userProfile {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "userPage contentPage"
            "userPage endScroll"
        ;
        justify-content: start;
    }

    .userProfile .userProfileDiv {
        margin: initial;
        align-self: start;
        justify-self: center;
        position: sticky;
        top: 70px;
    }

    /***
        ####
            HOME PAGE CSS
        ####
    ***/

    .homePage {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "leftContent contentDiv contentDiv"
            "leftContent endScroll endScroll"
        ;
    }

    .homePage .leftContentDiv .welcome,
    .homePage .leftContentDiv .subWelcome {
        text-align: right;
        margin-right: 2vh;
    }

    .homePage .leftContentDiv {
        align-items: flex-end;
        justify-self: end;
        margin: 0;
        border: none;
        width: 100%;
    }

    /***
        ####
            ADMIN MAIN PAGE CSS
        ####
    ***/

    .modif {
        left: 43vw;
        right: 43vw;
    }

    /*
    ####
        ADMIN USER EDIT PANNEL CSS
    ####
    */

    .adminHome .userEdit .userPictures {
        flex-direction: row;
    }
}


/***
    ####
        GENERAL OVERDRIVE CSS
    ####
***/


.hidden {
    display: none !important
}

.informative {
    background-color: rgba(0, 106, 255, 0.713) !important;
    border-color: rgb(0, 106, 255) !important;
}

.error {
    background-color: rgba(255, 0, 0, 0.303) !important;
    border-color: rgba(255, 0, 0, 0.765) !important;
}

.success {
    background-color: rgba(0, 255, 42, 0.303) !important;
    border-color: rgba(43, 255, 0, 0.765) !important;
}

.warning {
    background-color: rgba(255, 255, 0, 0.303) !important;
    border-color: rgba(255, 255, 0, 0.765) !important;
}