@import"https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";

/***
    ####
        CSS VARIABLES DECLARATION
    ####
***/

:root {
    --mainBgColor: #261d2f;
    --altBgColor: #311f3f;
    --scndAltBgColor: #3f2652;
    --postsTextColor: rgb(179, 179, 179);
}

/***
    ####
        GENERAL CSS
    ####
***/

body {
    margin: 0;
    background-color: var(--mainBgColor);
    font-family: "Inter", sans-serif;
    color: #fff;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.svg {
    filter: brightness(0) invert(1);
}

/* Global posts CSS */

.posts {
    width: 80vw;
    max-width: 500px;
    margin: 5vh auto;
}

.posts .userDiv {
    background-color: var(--altBgColor);
    display: flex;
    justify-content: space-between;
    padding: 0.5vh 1vh 0 0;
    margin-bottom: 1vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.posts .userDiv div {
    display: flex;
    align-items: center;
    padding: 0.5vh 1vh 1vh 1vh ;
}

.posts .userDiv div img {
    width: 8vh;
    height: 8vh;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 1vh;
}

.posts .userDiv div a {
    color: white;
    text-decoration: none;
}

.posts .userDiv div a:hover {
    text-decoration: underline;
}

.posts .contentdiv {
    background-color: var(--scndAltBgColor);
    padding: 1vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.posts .contentdiv .top {
    display: flex;
    justify-content: flex-end;
}

.posts .contentdiv .top button {
    background: none;
    border: none;
}

.posts .contentdiv .top button img {
    width: 2vh;
}

.posts .contentdiv .middle div {
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}
.posts .contentdiv .middle p {
    overflow-wrap: break-word;
}

.posts .contentdiv .middle .postPictures {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15vh 15vh;
    gap: 1%;
    margin-bottom: 10px;
    object-fit: cover;
}

.pic1 {
    grid-template-areas:
    "pic1 pic1"
    "pic1 pic1";
}

.pic2 {
    grid-template-areas:
    "pic1 pic2"
    "pic1 pic2";
}

.pic3 {
    grid-template-areas:
    "pic1 pic2"
    "pic1 pic3";
}

.pic4 {
    grid-template-areas:
    "pic1 pic2"
    "pic3 pic4";
}


.posts .contentdiv .middle div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.picture1 {
    grid-area: pic1;
}

.picture2 {
    grid-area: pic2;
}

.picture3 {
    grid-area: pic3;
}

.picture4 {
    grid-area: pic4;
}

.posts .contentdiv .middle p {
    margin-top: 0;
}

.posts .contentdiv .bottom {
    display: flex;
    justify-content: flex-end;
}

.posts .contentdiv .bottom button {
    background: none;
    border: none;
}

.posts .contentdiv .bottom button img {
    width: 2.5vh;
}

/***
    ####
        MOBILE NAVBAR / SIDE NAVBAR
    ####
***/

body nav {
    height: 5vh;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #fff solid;
    box-shadow: 0px 0px 20px -1px #a795c0;
    z-index: 3;
    background-color: var(--mainBgColor);
    margin-bottom: 2vh;
}

body nav button, body nav a {
    width: 10%;
    background: none;
    border: none;
}

body nav button img, body nav a img {
    width: 2.5vh;
}

body nav a h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

body nav a {
    text-decoration: none;
    color: white;
}
body nav a:visited {
    text-decoration: none;
}
body nav a h1 img {
    width: 4vh;
}

.js-sidebar, .js-sidebar--background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.js-sidebar {
    position: fixed;
    z-index: 4;
    transform: translate(-100%, 0);
    transition: transform 0s ease 0.3s;
}

.js-sidebar--background {
    position: absolute;
    background: transparent;
}

.js-sidebar--container {
    position: relative;
    z-index: 1;
    width: 70vw;
    max-width: 300px;
    height: 100vh;
    background-color: var(--mainBgColor);
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.2), 1px 0 10px rgba(0, 0, 0, 0.1);
    transform: translate(-100%, 0);
    overflow: hidden;
}

.js-sidebar.is-visible {
    transform: translate(0, 0);
    transition: transform 0s ease 0s;
}

.js-sidebar.is-visible .js-sidebar--background {
    background: rgba(0, 0, 0, 0.452);
}

.navProfile {
    border-bottom: 1px solid black;
    padding-left: 1%;
    padding-bottom: 1%;
}

.navProfile div {
    display: flex;
    justify-content: space-between;
}

.profilePicture {
    margin: 2%;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    object-fit: cover;
}

.navProfile p {
    margin: 0;
    font-size: 1.2rem;
}

.navSideTopDiv > button {
    width: 100%;
    border-bottom: 1px solid black;
    color: white;
}

.navLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navLinks a {
    width: 100%;
    border-bottom: 1px solid black;
    color: white;
    text-decoration: none;
    padding: 3% 0 3% 3%;
    display: flex;
    align-items: center;
}

.navLinks a img {
    width: 2vh;
    margin-right: 5%;
}

.navSideBottomDiv {
    justify-self: flex-end;
    padding: 3vh;
}

.navSideBottomDiv a img{
    width: 3vh;
}

/***
    ####
        HOME PAGE CSS
    ####
***/

.homePage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "leftContent"
    "contentPage"
    ;
}

.homePage .leftContentDiv {
    grid-area: leftContent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePage .postDiv {
    grid-area: contentPage;
}

.homePage .leftContentDiv .welcome {
    font-size: 2rem;
    font-weight: 100;
    margin: 0;
}

.homePage .leftContentDiv .subWelcome {
    font-size: 1.4rem;
    font-weight: 100;
    margin: 0;
}

.homePage .leftContentDiv a {
    color: white;
    display: flex;
    align-items: center;
    background-color: var(--altBgColor);
    border: 1px solid black;
    padding: 1% 3%;
    width: fit-content;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 1vh;
    text-decoration: none;
}

.homePage .leftContentDiv a:hover {
    border-color: white;
}

.homePage .leftContentDiv a img {
    width: 3vh;
    margin-right: 5px;
}

/***
    ####
        LOGIN/REGISTER PAGE CSS
    ####
***/

.loginPage > div {
    border: 1px solid var(--scndAltBgColor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 10vh auto;
    padding: 1vh 2vh;
}

.loginPage > div > a {
    background-color: var(--altBgColor);
    color: white;
    border: 1px solid black;
    padding: 1% 3%;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 1vh;
    text-decoration: none;
}

.loginPage div > a:hover{
    border-color: white;
}

.loginPage form{
    width: 80vw;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginPage div form input {
    background-color: var(--altBgColor);
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    margin: 1vh 0;
    font-size: 1.3rem;
    width: 100%;
    padding: 1vh;
    text-align: center;
}

.loginPage div form div {
    display: flex;
    flex-direction: column;
}

.loginPage button {
    background-color: var(--altBgColor);
    color: white;
    border: 1px solid black;
    padding: 1% 3%;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.loginPage button:hover {
    border-color: white;
}

.loginPage form a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    align-self: flex-end;
    margin-bottom: 1vh;
}

.loginPage form a:hover {
    text-decoration: underline;
}

/***
    ####
        PROFILE PAGE CSS
    ####
***/

.userProfile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "userPage"
    "contentPage"
    ;
}

.userProfile .userProfileDiv {
    width: 90vw;
    max-width: 400px;
    object-fit: cover;
    margin: auto;
    background-color: var(--altBgColor);
    border-bottom: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    grid-area: userPage;
}

.userProfile .userProfileDiv .banner {
    width: 100%;
    position: relative;
}

.userProfile .userProfileDiv .banner .bannerImg {
    width: 100%;
    height: 13vh;
    object-fit: cover;
    background-color: var(--scndAltBgColor);
}

.userProfile .userProfileDiv .banner .pfp {
    width: 12vh;
    height: 12vh;
    object-fit: cover;
    border-radius: 50%;
    bottom: -60px;
    left: 1%;
    position: absolute;
    border-top: 2px black solid;
    background-color: var(--mainBgColor);
}

.userProfile .userProfileDiv .banner .more {
    position: absolute;
    bottom: -30px;
    right: 1%;
    width: 4vh;
    background: none;
    border: none;
}

.userProfile .userProfileDiv .banner *:before, .userProfile .userProfileDiv .banner *:after {
  box-sizing: border-box;
}

.userProfile .userProfileDiv .banner .dropdown {
  position: absolute;
  bottom: -45px;
  right: 8px;
}

.userProfile .userProfileDiv .banner .dropdown__check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  opacity: 0;
}

.userProfile .userProfileDiv .banner .dropdown__check:checked ~ .dropdown__toggle {
  background: var(--mainBgColor);
}

.userProfile .userProfileDiv .banner .dropdown__check:checked ~ .dropdown__menu {
  clip: auto;
  opacity: 1;
  transform: none;
}

.userProfile .userProfileDiv .banner .dropdown__toggle {
  position: relative;
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
  color: white;
  background: var(--scndAltBgColor);
  text-transform: uppercase;
  font-size: 0.75em;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userProfile .userProfileDiv .banner .dropdown__toggle img {
    width: 2vh;
}

.userProfile .userProfileDiv .banner .dropdown__menu {
  position: absolute;
  top: 100%;
  right: 0;
  clip: rect(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 4px;
  opacity: 0;
  transform: translate(0, -12px);
  transition: transform 150ms, opacity 150ms, box-shadow 150ms;
  z-index: 20;
  border: 1px solid black;
}

.userProfile .userProfileDiv .banner .dropdown__menu > li {
  list-style: none;
  width: 200px;
  padding: 3px;
}

.userProfile .userProfileDiv .banner .dropdown__menu > li > a {
  display: block;
  text-decoration: none;
  padding: 8px 12px;
  color: white;
  background: var(--scndAltBgColor);
}

.userProfile .userProfileDiv .infos {
    margin-top: 60px;
    padding: 1vh;
    position: relative;
}

.userProfile .userProfileDiv .infos .username {
    font-size: 1.2rem;
    font-weight: 600;
}

.userProfile .userProfileDiv .infos .bio {
    font-size: 0.8rem;
    font-weight: 300;
}

.userProfile .postDiv {
    grid-area: contentPage;
}

/***
    ####
        SETTINGS PAGE CSS
    ####
***/

.settings .profileSettings {
    width: 90vw;
    max-width: 700px;
    margin: auto;
}

.settings .profileSettings fieldset {
    background-color: var(--altBgColor);
    border: 2px solid var(--scndAltBgColor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings .profileSettings fieldset legend {
    font-weight: 600;
    font-size: 1.3rem;
}

.settings .profileSettings fieldset form {
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.settings .profileSettings fieldset form label {
    margin: 1vh;
}

.settings .profileSettings fieldset form div {
    width: 100%;
}

.settings .profileSettings fieldset form div input,
.settings .profileSettings fieldset form div textarea {
    background-color: var(--scndAltBgColor);
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    margin: 1vh 0;
    font-size: 1rem;
    padding: 0.5vh 0;
    text-align: center;
    resize: none;
    width: 100%;
}

.settings .profileSettings fieldset form div textarea {
    height: 120px;
}

.settings .profileSettings fieldset form button {
    background-color: var(--altBgColor);
    color: white;
    border: 1px solid black;
    padding: 1% 3%;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.settings .profileSettings fieldset form button:hover {
    border-color: white;
}

/***
    ####
        SEARCH PAGE CSS
    ####
***/

.searchPage .searchBar {
    margin: auto;
    width: 80vw;
    max-width: 500px;
    margin-bottom: 2vh;
}

.searchPage .searchBar form {
    text-align: center;
}

.searchPage .searchBar form input {
    width: 100%;
    text-align: center;
    background-color: var(--scndAltBgColor);
    color: white;
    border: 1px solid black;
    padding: 1% 3%;
    border-radius: 10px;
    font-size: 1.1rem;
    margin-bottom: 1vh;
}

.searchPage .searchBar form button {
    background-color: var(--altBgColor);
    color: white;
    border: 1px solid black;
    padding: 1% 3%;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.searchPage .searchBar form button:hover {
    border-color: white;
}

.searchPage .contentDiv .userDiv {
    background-color: var(--altBgColor);
    display: flex;
    justify-content: space-between;
    padding: 0.5vh 1vh 0 0;
    margin: auto;
    margin-bottom: 1vh;
    border-radius: 10px;
    width: 95vw;
    max-width: 300px;
}

.searchPage .contentDiv .userDiv div {
    display: flex;
    align-items: center;
    padding: 0.5vh 1vh 1vh 1vh ;
}

.searchPage .contentDiv .userDiv div img {
    width: 8vh;
    height: 8vh;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1vh;
}

.searchPage .contentDiv .userDiv div a {
    color: white;
    text-decoration: none;
}

.searchPage .contentDiv .userDiv div a:hover {
    text-decoration: underline;
}

/***
    ####
        NEW POST PAGE CSS
    ####
***/

.newPost fieldset {
    width: 80vw;
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--altBgColor);
    border: 2px solid var(--scndAltBgColor);
    border-radius: 10px;
}

.newPost fieldset form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.newPost fieldset form textarea {
    background-color: var(--scndAltBgColor);
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5vh 0;
    text-align: center;
    resize: none;
    width: 100%;
    height: 160px;
}
.newPost fieldset form input {
    align-self: flex-start;
    margin: 1vh 0;
}

.newPost fieldset form button {
    background-color: var(--altBgColor);
    color: white;
    border: 1px solid black;
    padding: 1% 3%;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/*
    Media query DESKTOP
*/

@media screen and (min-width:1200px){

    /***
        ####
            PROFILE PAGE CSS
        ####
    ***/

    .userProfile {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "userPage contentPage"
        ;
        justify-content: start;
    }

    .userProfile .userProfileDiv {
        margin: initial;
        align-self: start;
        justify-self: center;
        position: sticky;
        top: 70px;
    }

    /***
        ####
            HOME PAGE CSS
        ####
    ***/

    .homePage {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "leftContent contentDiv contentDiv"
        ;
    }

    .homePage .leftContentDiv .welcome, .homePage .leftContentDiv .subWelcome {
        text-align: right;
        margin-right: 2vh;
    }

    .homePage .leftContentDiv {
        align-items: flex-end;
    }
}